<div class="div7"s

<div>

<label class="lable2">Download Entire Report</label>

<input title="Download the Report as csv file" type="image" src="images/download FontAwesome@tx.png"

alt="Click here download" class="downloadImage" ng-model-"year"

ng-click="downloadReport()" />

</div>

</div>

<div class="divs" id="divs">

<div class="div10">

<label class="lable3">Items per page:</label> <select

class="select5" ing-changes"limitChange(itemPerPage)" data-ng-model-"itemperPage" id="itemPage">

<option value="20" selected>28</option>

<option value="50">50</option>

<option value="70">70</option>

<option value="100">100</option>

</select>

</div>

uib-pagination class="pagination-sm pagination" <

total-items-"filterData.length"

ng-model-"page" items-per-page-"itemPerPage" max-size-maxSize" boundary-link-numbers-"true" rotate="false"> </uib-pagination>

</div>

<div ng-show-"div11" class="div11" id="divil" style="display: none;">

</div>

<div class="div12">

<div>

<label class="lable2">Download Entire Report</label>

<input title "Download the Report as csv file" type "image" src="images/download FontAwesome@1x.png" alt="Click here download" class="downloadImage" ng-model "year"

ng-click="downloadReportForOracle()" />

</div>

</div>

<div class="div13" id "div13">

<div class="div14">

<label class="lable3">Items per page:</label> <select

class="selects" ng-change-"limitChange(itemPerPage)"

data-ng-model-"itemPerPage" id="itemPage">



class="select5" ng-change="limitChange(itemPerPage)"

data-ng-model-"itemPerPage" id="itemPage">

<option value="20" selected>20</option>

<option value="50">50</option>

<option value="70">70</option>

<option value="100">100</option>

</select>

</div>

<uib-pagination class="pagination-sm pagination"

total-items="filterData.length"

ng-model-"page" items-per-page="itemPerPage" max-size-"maxSize"

</div>

boundary-link-numbers="true" rotate="false"> </uib-pagination>

</div>

<div id="alertDialog" class="modal">

<div class="modal-content2" ng-class="alert Theme" >

<div class="modal-header2">

<button type="button" class="close" data-dismiss="modal"

title="Close">

<img src="images/ion-close copy 2@2x.svg" class="closeModalImg" />

</button>

</div>

<div class="modal-body2">

<div>

<img src="{{alert Image}}"

style="width: 3.5%; margin-right: 2%; margin-down: 4%;height: 16px;" />{(alertMessage))

</div>

</div>

</div>

</div>

<div id="errorDialogi" class="modal" data-backdrop-"static"

data-keyboard-"false" style-"z-index: 1051"> <div class="modal-content2" ng-class-"alert Theme">

<div class="modal-body2">

<div>

<img src="{{alertImage}}"

style="width: 3.5%; margin-right: 2%; height: 16px;" />([alertMessage}}

</div>

</div>

</div>

</div>

